@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #000;
    color: #fff;
    background-image: url("/me.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.links {
    display: flex;
    align-items: center;
    height: 96vh;
    padding-left: 25vw;
}

ul {
    list-style: none;
    padding: initial;
}

a {
    text-decoration: none;
    transition: 0.2s;
    color: #fff;
}

a:hover {
    padding-left: 8px;
}

h1 {
    padding: 16px;
}